<root:>
	{#if _user.reading}
		<div class="row">
			<div class="span6 offset3">
				<div class="alert alert-success" style="text-align:center;">
					Fetching Emails
				</div>
			</div>
		</div>
	{/}
	
	<div style="margin-bottom:20px;">
		<h1>Inbox</h1>
	</div>

	<div class="row" style="margin-bottom:10px;">
		<div class="span6">
			<form action="/email" method="post">
				<input type="text" name="email" placeholder="Email">
				<input type="password" name="password" placeholder="Password">
				<input type="submit" value="Grab Emails" class="btn {#if _user.reading}disabled{/}" >
				<a class="btn btn-danger" style="margin-left:5px;" href="#" x-bind="click: deleteEmails">Delete Emails</a>
			</form>
		</div>
		<div class="span6">
			<p>Last read emails at {_user.emailsLastReadAt}</p>
			<p>Total Messages: {_user.messages.length}</p>
		</div>
	</div>
	
	<div class="row">
		<div class="span12">
			<table class="table">
				<tr>
					<th>From</th>
					<th>Subject</th>
					<th>Date</th>
				</tr>
				{#each _user.messages}
					<app:home:message>
				{/}
			</table>
		</div>
	</div>


<message:>
	<tr>
		<td>{.from[0].name}</td>
		<td>{.subject}</td>
		<td>{.headers.date}</td>
	</tr>