<root:>
	<div style="margin-bottom:20px;">
		<h1>You are logged in</h1>
		<a class="btn" href="/logout">Logout</a>
		<!-- <a class="btn {#if _user.reading}disabled{/}" href="/email">Grab Emails</a> -->
		<a class="btn btn-danger" href="#" x-bind="click: deleteEmails">Delete Emails</a>
		<a class="btn btn-warning" href="#" x-bind="click: setUnreading">Not Reading</a>
	</div>
	<div>
		<form action="/email" method="post">
			<input type="text" name="email" placeholder="Email">
			<input type="password" name="password" placeholder="Password">
			<input type="submit" value="Grab Emails" class="btn {#if _user.reading}disabled{/}" >
		</form>
	</div>
	<p>Last read emails at {_user.emailsLastReadAt}</p>
	<p>Reading: {_user.reading}</p>
	<p>Total Messages: {_user.messages.length}</p>
	<table class="table">
		<tr>
			<th>From</th>
			<th>Subject</th>
			<th>Content</th>
			<th>Date</th>
		</tr>
		{#each _user.messages}
			<app:home:message>
		{/}
	</table>


<message:>
	<tr>
		<td>{.from}</td>
		<td>{.subject}</td>
		<td>{.body}</td>
		<td>{.date}</td>
	</tr>